.hero-section {
    background-color: #495e57;
}

.hero-elements {
    display: flex;
    max-height: 14rem;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.hero-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}