.hero-home {
    background-color: #495e57;
    display: flex;
    max-height: 14rem;
    max-width: 100%;
    justify-content: space-between;
    padding: 1.5rem 0 0 0;
    /* align-items: center; */
}

.hero-img {
    width: 25rem;
    height: 18rem;
    object-fit: cover;
}